
/* For light mode */
.light-mode-input {
  color: black; /* colour of user-entered numbers and placeholder */
  transition: ease-in-out 1.5s;
}

.light-mode-input::placeholder {
  color: rgba(107, 106, 106, 0.769);
  transition: ease-in-out 1.5s;
}

.light-mode-input:focus::placeholder {
  color: transparent;
}
/* Resto del código existente */


.fade {
  animation: fadeAnimation 1.5s ease-in-out;
}

@keyframes fadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}