.has-light-background  {
  background-color: black;
  color: rgb(222, 208, 246);
}

.has-light-background .title {
  color: rgb(222, 208, 246);
}

.has-light-background .subtitle {
  color: rgb(249, 71, 71);
}

.has-dark-background { 
  background-color: rgb(231, 222, 246);
}

.has-dark-background .title {
  color: rgb(35, 34, 34);
}

.has-dark-background .subtitle {
  color: rgb(249, 71, 71);
}

