.is-dark .card {
  background-color: #000000;
  transition: background-color 2s ease-in-out;
}

.is-dark .title,
.is-dark .subtitle,
.is-dark .content {
  color: whitesmoke !important;
  transition: color 2s ease-in-out;
}

.is-light .card {
  background-color: whitesmoke;
  transition: background-color 2s ease-in-out;
}

.is-light .title,
.is-light .subtitle,
.is-light .content {
  color: black !important;
  transition: color 2s ease-in-out;
}