.has-light-background  {
  background-color: black;
  color: rgb(222, 208, 246);
}

.has-light-background .title {
  color: whitesmoke;
}

.has-light-background .subtitle {
  color: rgb(249, 71, 71);
}

.has-dark-background { 
  background-color: rgb(223, 221, 221);
}
c
.has-dark-background .title {
  color: rgb(35, 34, 34);
}

.has-dark-background .subtitle {
  color: rgb(249, 71, 71);
}

.columns {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .card {
    width: 85%;
  }

}