.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh; 
  padding: 2rem;
  box-sizing: border-box; 
 
  transition: background-color 2s ease-in-out; /* Transición suave */
}




.text-container {
  max-width: 600px;
  text-align: center;
}

.is-dark .button {
  background-color:transparent;
  padding: 10px;
  border: 1px solid whitesmoke;
  color: whitesmoke;;
  border-radius: 10px;
}

.is-light .button {
  background-color: transparent;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.is-dark .hero-section {
  color: whitesmoke;

}

.is-dark .button-wallet  {
  background: -webkit-linear-gradient(left, #8eb0f6, #b9dfec, #98ebd9, #bfcf80);
  -webkit-background-clip: text;
  background-clip: text;  
  -webkit-text-fill-color: transparent;
  padding: 10px;
  box-shadow: #b9dfec 0px 0px 1px 1px;
  border-radius: 10px;

}

.is-light .button-wallet {
  background: -webkit-linear-gradient(left, #445b89, #84a0a9, #5fa495, #74823c);
  -webkit-background-clip: text;
  background-clip: text;  
  -webkit-text-fill-color: transparent;
  padding: 10px;
  box-shadow: #000000 0px 0px 1px 1px;
  border-radius: 10px;

}
  