.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh; 
  padding: 2rem;
  box-sizing: border-box; 
 
  transition: background-color 2s ease-in-out; /* Transición suave */
}

.is-light .hero-section {
  background-color: whitesmoke;
}

.is-dark .hero-section {
  background-color: #000000;
}

.text-container {
  max-width: 600px;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.button {
  padding: 1rem 2rem;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: .25rem;
  font-size: 1rem;
  cursor: pointer;
}

.is-light .title, .is-light .subtitle, .is-light .description {
  color: black;
  transition: color 2s ease-in-out; /* Transición para el color del texto */
}

.is-dark .title, .is-dark .subtitle, .is-dark .description {
  color: whitesmoke;  
  transition: color 2s ease-in-out; /* Transición para el color del texto */
}

.is-light .button {
  border: 1px solid;
  background-color: #000;
  color: #fff;
}

.is-dark .button {
  border:1px solid;
  background-color: #222;
  color: #fff;
}