.main-container {
  display: block;
  position: relative;
  z-index: 1;
  top: -10vh;
  bottom: 0;
  right: 0;
  left: 0;

}





.is-dark .subtitle {
    color: #fff;

    
}

.balance-display {
  position: relative; 
  width: auto;
  margin: 10px;
  padding: 10px;
  
  
}





.is-dark .title {
    background: -webkit-linear-gradient(left, #e9d99b, #dec34e, #deb640, #dbbc3c, #fa8423);
    -webkit-background-clip: text;
    background-clip: text;  
    -webkit-text-fill-color: transparent;
}

.is-light .title {
  background: -webkit-linear-gradient(left, #ec7979, #e78357, #e39312cc, #ba6d089a);
  -webkit-background-clip: text;
  background-clip: text;  
  -webkit-text-fill-color: transparent;
}

.is-light strong {
  color: #000000;

}





.is-dark .subtitle {
  color: whitesmoke;
}

.is-light .subtitle {
  color: #000000cc;
}

.columns {
    margin: 10px 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}








