.main-container {
  display: block;
  position: relative;
  z-index: 1;
  top: -10vh;
  bottom: 0;
  right: 0;
  left: 0;

}


.is-dark .card {
  background: -webkit-linear-gradient(left, #34415c, #305764, #1f7462, #435209);
  transition: 1.6s ease-in;
  box-shadow: #f3aa19 0px 3px 10px;

}

.is-light .card {
  background: -webkit-linear-gradient(left, #aebfe4, #bce0ec, #a4e6d7, #e8f0cb);
  transition: 1.6s ease-in;
  box-shadow: #f3aa19 0px 3px 10px;

}


.is-dark .subtitle {
    color: #fff;

    
}

.balance-display {
  position: relative; 
  width: auto;
  margin: 10px;
  padding: 10px;
  
  
}





.is-dark .title {
    background: -webkit-linear-gradient(left, #8eb0f6, #b9dfec, #98ebd9, #bfcf80);
    -webkit-background-clip: text;
    background-clip: text;  
    -webkit-text-fill-color: transparent;
}

.is-light .title {
  background: -webkit-linear-gradient(left, #ec7979, #e78357, #e39312cc, #ba6d089a);
  -webkit-background-clip: text;
  background-clip: text;  
  -webkit-text-fill-color: transparent;
}

.is-light strong {
  color: #000000;

}





.is-dark .subtitle {
  color: whitesmoke;
}

.is-light .subtitle {
  color: #000000cc;
}

.columns {
    margin: 10px 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}








