/* Navbar.css */

.navbar {
  transition: background-color 1s ease-in-out, color 1s ease-in-out; /* Transición suave para el color de fondo y color del texto */
}

.navbar-menu {
  transition: background-color 1s ease-in-out; /* Transición suave para el color de fondo */
}

#NuvoLogo {
  border-radius: 5px;
}



/* Estilos para el submenu en modo oscuro en pantallas móviles */
@media only screen and (max-width: 768px) {
  .is-dark .navbar-menu .navbar-item:hover {
    background-color: rgb(39, 38, 38);
    color: whitesmoke; /* Texto blanco para mayor legibilidad */
  }
}


.is-dark .burger-button {
  background-color: whitesmoke;
}

.version-nuvo {
  background: -webkit-linear-gradient(left, #e9d99b, #dec34e, #deb640, #dbbc3c, #fa8423);
  -webkit-background-clip: text;
  background-clip: text;  
  -webkit-text-fill-color: transparent;
}

.is-light .version-nuvo {
  background: -webkit-linear-gradient(left, #ec7979, #e78357, #e39312cc, #ba6d089a);
  -webkit-background-clip: text;
  background-clip: text;  
  -webkit-text-fill-color: transparent;
}

#NuvoLogo {
  width: 60px;
  height: 55px;
  padding: 5px 5px;
  margin: 5px;
  border-radius: 100%;
}