.is-dark .button-wallet  {
    background: -webkit-linear-gradient(left, #8eb0f6, #b9dfec, #98ebd9, #bfcf80);
    -webkit-background-clip: text;
    background-clip: text;  
    -webkit-text-fill-color: transparent;
    padding: 10px;
    box-shadow: #b9dfec 0px 0px 1px 1px;
    border-radius: 10px;
  
  }
  
  .is-light .button-wallet {
    background: -webkit-linear-gradient(left, #445b89, #84a0a9, #5fa495, #74823c);
    -webkit-background-clip: text;
    background-clip: text;  
    -webkit-text-fill-color: transparent;
    padding: 10px;
    box-shadow: #000000 0px 0px 1px 1px;
    border-radius: 10px;
  
  }